
<section class="show container-responsive center-align">
  <h3 class="float-text left">  
    <%= @repo.name %>
  </h3><br>
  <p class="left">
    Writtin in <%= @repo.language %>
  </p>
  <p class="left">
    <%= @repo.description %>
  </p>


</section>