
<h3 class="title float-text center-align">  
  <%= @repo.name %>
</h3><br>
 
<section class="container-responsive center-align">
  <p class="left">
    <%= @repo.description %>
  </p>

  <% @commits.each do |commit| %>
  <p>
    <%= commit.author[:name] %>
    <%= commit.message %>
  </p>
  <% end %>
</section>
    