---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Sh1pley/following?access_token=<token_id>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4869'
      X-Ratelimit-Reset:
      - '1486088277'
      Etag:
      - W/"e219258506ff2a9b7064ba3e30f786eb"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<client_id>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Laszlo-JFLMTCO","id":18202283,"avatar_url":"https://avatars.githubusercontent.com/u/18202283?v=3","gravatar_id":"","url":"https://api.github.com/users/Laszlo-JFLMTCO","html_url":"https://github.com/Laszlo-JFLMTCO","followers_url":"https://api.github.com/users/Laszlo-JFLMTCO/followers","following_url":"https://api.github.com/users/Laszlo-JFLMTCO/following{/other_user}","gists_url":"https://api.github.com/users/Laszlo-JFLMTCO/gists{/gist_id}","starred_url":"https://api.github.com/users/Laszlo-JFLMTCO/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Laszlo-JFLMTCO/subscriptions","organizations_url":"https://api.github.com/users/Laszlo-JFLMTCO/orgs","repos_url":"https://api.github.com/users/Laszlo-JFLMTCO/repos","events_url":"https://api.github.com/users/Laszlo-JFLMTCO/events{/privacy}","received_events_url":"https://api.github.com/users/Laszlo-JFLMTCO/received_events","type":"User","site_admin":false},{"login":"Dpalazzari","id":19585280,"avatar_url":"https://avatars.githubusercontent.com/u/19585280?v=3","gravatar_id":"","url":"https://api.github.com/users/Dpalazzari","html_url":"https://github.com/Dpalazzari","followers_url":"https://api.github.com/users/Dpalazzari/followers","following_url":"https://api.github.com/users/Dpalazzari/following{/other_user}","gists_url":"https://api.github.com/users/Dpalazzari/gists{/gist_id}","starred_url":"https://api.github.com/users/Dpalazzari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Dpalazzari/subscriptions","organizations_url":"https://api.github.com/users/Dpalazzari/orgs","repos_url":"https://api.github.com/users/Dpalazzari/repos","events_url":"https://api.github.com/users/Dpalazzari/events{/privacy}","received_events_url":"https://api.github.com/users/Dpalazzari/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 03 Feb 2017 02:14:08 GMT
recorded_with: VCR 3.0.3
