---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Sh1pley?access_token=<token_id>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4866'
      X-Ratelimit-Reset:
      - '1486088277'
      Etag:
      - W/"5a541ed19322b4049d065d11ea6d2867"
      Last-Modified:
      - Tue, 31 Jan 2017 23:01:41 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<client_id>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false,"name":"Jesse
        Shipley","company":"@turingschool","blog":null,"location":" Denver, CO","email":null,"hireable":true,"bio":"Back
        End Engineering Student @turing","public_repos":25,"public_gists":3,"followers":2,"following":2,"created_at":"2015-04-19T18:34:28Z","updated_at":"2017-01-31T23:01:41Z","private_gists":2,"total_private_repos":0,"owned_private_repos":0,"disk_usage":1649,"collaborators":0,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 03 Feb 2017 02:14:09 GMT
recorded_with: VCR 3.0.3
