---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Sh1pley?access_token=<token_id>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1486144962'
      Etag:
      - W/"66902a67ec78856e60b8b3ceed0acb38"
      Last-Modified:
      - Fri, 03 Feb 2017 02:56:44 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false,"name":"Jesse
        Shipley","company":"@turingschool","blog":null,"location":" Denver, CO","email":null,"hireable":true,"bio":"Back
        End Engineering Student @turing","public_repos":25,"public_gists":3,"followers":2,"following":2,"created_at":"2015-04-19T18:34:28Z","updated_at":"2017-02-03T02:56:44Z"}'
  recorded_at: Fri, 03 Feb 2017 17:02:47 GMT
recorded_with: VCR 3.0.3
