---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Sh1pley/99_bottles/commits?access_token=d2aa7244db825ceba114450f449b6500d92f2950
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1486072043'
      Etag:
      - W/"74961d30ddc258382941e9e58aae0c8d"
      Last-Modified:
      - Thu, 10 Nov 2016 22:48:08 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<client_id>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"9e2e51927c22e9b6535dd4561faf7f2a06cd52e5","commit":{"author":{"name":"Jesse
        Shipley","email":"jesse.radack@gmail.com","date":"2016-11-10T22:48:08Z"},"committer":{"name":"Jesse
        Shipley","email":"jesse.radack@gmail.com","date":"2016-11-10T22:48:08Z"},"message":"cleaning
        up house, making things work","tree":{"sha":"c26c95cfdabe92e173f742730471f26911f9ca89","url":"https://api.github.com/repos/Sh1pley/99_bottles/git/trees/c26c95cfdabe92e173f742730471f26911f9ca89"},"url":"https://api.github.com/repos/Sh1pley/99_bottles/git/commits/9e2e51927c22e9b6535dd4561faf7f2a06cd52e5","comment_count":0},"url":"https://api.github.com/repos/Sh1pley/99_bottles/commits/9e2e51927c22e9b6535dd4561faf7f2a06cd52e5","html_url":"https://github.com/Sh1pley/99_bottles/commit/9e2e51927c22e9b6535dd4561faf7f2a06cd52e5","comments_url":"https://api.github.com/repos/Sh1pley/99_bottles/commits/9e2e51927c22e9b6535dd4561faf7f2a06cd52e5/comments","author":{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false},"committer":{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false},"parents":[{"sha":"00bf5c7376b7db0b8c773e23447dcab44353f3c9","url":"https://api.github.com/repos/Sh1pley/99_bottles/commits/00bf5c7376b7db0b8c773e23447dcab44353f3c9","html_url":"https://github.com/Sh1pley/99_bottles/commit/00bf5c7376b7db0b8c773e23447dcab44353f3c9"}]},{"sha":"00bf5c7376b7db0b8c773e23447dcab44353f3c9","commit":{"author":{"name":"Jesse
        Shipley","email":"jesse.radack@gmail.com","date":"2016-10-25T14:53:48Z"},"committer":{"name":"Jesse
        Shipley","email":"jesse.radack@gmail.com",[...]
