---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Sh1pley?client_id=<client_id>&client_secret=<client_secret>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4912'
      X-Ratelimit-Reset:
      - '1485981178'
      Etag:
      - W/"0549a64d30683426fd03fa13b8960ae1"
      Last-Modified:
      - Tue, 31 Jan 2017 23:01:41 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false,"name":"Jesse
        Shipley","company":"@turingschool","blog":null,"location":" Denver, CO","email":null,"hireable":true,"bio":"Back
        End Engineering Student @turing","public_repos":25,"public_gists":3,"followers":2,"following":2,"created_at":"2015-04-19T18:34:28Z","updated_at":"2017-01-31T23:01:41Z"}'
  recorded_at: Wed, 01 Feb 2017 20:13:23 GMT
recorded_with: VCR 3.0.3
