---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/?client_id=<client_id>&client_secret=<client_secret>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1485981178'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Wed, 01 Feb 2017 20:13:08 GMT
recorded_with: VCR 3.0.3
