---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Sh1pley/repos?client_id=<client_id>&client_secret=<client_secret>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1486054918'
      Etag:
      - W/"823615f50e5b7a90ef9f536eb164cf7f"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71905193,"name":"99_bottles","full_name":"Sh1pley/99_bottles","owner":{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}","starred_url":"https://api.github.com/users/Sh1pley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Sh1pley/subscriptions","organizations_url":"https://api.github.com/users/Sh1pley/orgs","repos_url":"https://api.github.com/users/Sh1pley/repos","events_url":"https://api.github.com/users/Sh1pley/events{/privacy}","received_events_url":"https://api.github.com/users/Sh1pley/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Sh1pley/99_bottles","description":null,"fork":false,"url":"https://api.github.com/repos/Sh1pley/99_bottles","forks_url":"https://api.github.com/repos/Sh1pley/99_bottles/forks","keys_url":"https://api.github.com/repos/Sh1pley/99_bottles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Sh1pley/99_bottles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Sh1pley/99_bottles/teams","hooks_url":"https://api.github.com/repos/Sh1pley/99_bottles/hooks","issue_events_url":"https://api.github.com/repos/Sh1pley/99_bottles/issues/events{/number}","events_url":"https://api.github.com/repos/Sh1pley/99_bottles/events","assignees_url":"https://api.github.com/repos/Sh1pley/99_bottles/assignees{/user}","branches_url":"https://api.github.com/repos/Sh1pley/99_bottles/branches{/branch}","tags_url":"https://api.github.com/repos/Sh1pley/99_bottles/tags","blobs_url":"https://api.github.com/repos/Sh1pley/99_bottles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Sh1pley/99_bottles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Sh1pley/99_bottles/git/refs{/sha}","trees_url":"https://api.github.com/repos/Sh1pley/99_bottles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Sh1pley/99_bottles/statuses/{sha}","languages_url":"https://api.github.com/repos/Sh1pley/99_bottles/languages","stargazers_url":"https://api.github.com/repos/Sh1pley/99_bottles/stargazers","contributors_url":"https://api.github.com/repos/Sh1pley/99_bottles/contributors","subscribers_url":"https://api.github.com/repos/Sh1pley/99_bottles/subscribers","subscription_url":"https://api.github.com/repos/Sh1pley/99_bottles/subscription","commits_url":"https://api.github.com/repos/Sh1pley/99_bottles/commits{/sha}","git_commits_url":"https://api.github.com/repos/Sh1pley/99_bottles/git/commits{/sha}","comments_url":"https://api.github.com/repos/Sh1pley/99_bottles/comments{/number}","issue_comment_url":"https://api.github.com/repos/Sh1pley/99_bottles/issues/comments{/number}","contents_url":"https://api.github.com/repos/Sh1pley/99_bottles/contents/{+path}","compare_url":"https://api.github.com/repos/Sh1pley/99_bottles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Sh1pley/99_bottles/merges","archive_url":"https://api.github.com/repos/Sh1pley/99_bottles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Sh1pley/99_bottles/downloads","issues_url":"https://api.github.com/repos/Sh1pley/99_bottles/issues{/number}","pulls_url":"https://api.github.com/repos/Sh1pley/99_bottles/pulls{/number}","milestones_url":"https://api.github.com/repos/Sh1pley/99_bottles/milestones{/number}","notifications_url":"https://api.github.com/repos/Sh1pley/99_bottles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Sh1pley/99_bottles/labels{/name}","releases_url":"https://api.github.com/repos/Sh1pley/99_bottles/releases{/id}","deployments_url":"https://api.github.com/repos/Sh1pley/99_bottles/deployments","created_at":"2016-10-25T14:28:59Z","updated_at":"2016-10-25T14:29:09Z","pushed_at":"2016-11-10T22:48:16Z","git_url":"git://github.com/Sh1pley/99_bottles.git","ssh_url":"git@github.com:Sh1pley/99_bottles.git","clone_url":"https://github.com/Sh1pley/99_bottles.git","svn_url":"https://github.com/Sh1pley/99_bottles","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":80557888,"name":"api_curious","full_name":"Sh1pley/api_curious","owner":{"login":"Sh1pley","id":12022194,"avatar_url":"https://avatars.githubusercontent.com/u/12022194?v=3","gravatar_id":"","url":"https://api.github.com/users/Sh1pley","html_url":"https://github.com/Sh1pley","followers_url":"https://api.github.com/users/Sh1pley/followers","following_url":"https://api.github.com/users/Sh1pley/following{/other_user}","gists_url":"https://api.github.com/users/Sh1pley/gists{/gist_id}"[...]
